<section id="cv">
    <div class="container">
        <h2><strong>Curriculum Vitae</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>{{"Education" | translate}}</strong></h4>

                <ul class="timeline">
                    <li>
                        <h5>Scrum Fundamentals Certified (SFC™)</h5>
                        <em class="font-italic"><a target="_blank" href="https://www.scrumstudy.com/certification/verify?type=SFC&number=896454" >{{"View certificate" | translate}}</a> <br> scrumstudy.com</em>
                        <p class="year p-2 d-flex justify-content-center">2022</p>
                    </li>
                    <li>
                        <h5>EF SET English Certificate 71/100 (C2 Proficient)</h5>
                        <em class="font-italic"><a target="_blank" href="https://www.efset.org/cert/YV8GZu" >{{"View certificate" | translate}}</a> <br> efset.org</em>
                        <p class="year p-2 d-flex justify-content-center">2022</p>
                    </li>
                    <li>
                        <h5>{{"Graduated in Higher Education" | translate}}</h5>
                        <em class="font-italic">{{"Graduated in Higher Education" | translate}} <br> Universidad Mayor de San Andrés, BO</em>
                        <p class="year p-2 d-flex justify-content-center">{{"November" | translate}} 2017</p>
                    </li>
                    <li>
                        <h5>{{"Degree in Computing" | translate}}</h5>
                        <em class="font-italic">{{"Degree in Computing" | translate}} <br> Universidad Mayor de San Andrés, BO</em>
                        <p class="year p-2 d-flex justify-content-center">{{"July" | translate}} 2015</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>{{"Work experience" | translate}}</strong></h4>
                <ul class="timeline">
                    <li>
                        <h5>Full Stack Developer in CRM, angular, webservices</h5>
                        <em>Grupo LaFuente, Santa Cruz, BO</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2021 (6 {{"months" | translate}})</p>
                            <button (click)="detailOnClick('freelanceScotfy_detail')" type="button" class="btn btn-primary">+
                                {{"Detail" | translate}}</button>
                        </div>
                        <p *ngIf="freelanceScotfyIsShown">
                            <strong>1. </strong>{{"lafuente1" | translate}}<br>
                            <strong>2. </strong>{{"lafuente2" | translate}}<br>
                            <strong>3. </strong>{{"lafuente3" | translate}}<br>
                            <strong>4. </strong>{{"lafuente4" | translate}}
                        </p>
                    </li>
                    <li>
                        <h5>Backend Developer in slim, angular, webservices</h5>
                        <em>CEASS, La Paz, BO</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2021 (5 {{"months" | translate}})</p>
                            <button (click)="detailOnClick('freelance_detail')" type="button" class="btn btn-primary">+
                                {{"Detail" | translate}}</button>
                        </div>
                        <p *ngIf="freelanceIsShown">
                            <strong>1. </strong>{{"ceass1" | translate}}<br>
                            <strong>2. </strong>{{"ceass2" | translate}}<br>
                            <strong>3. </strong>{{"ceass3" | translate}}
                        </p>
                    </li>
                    <li>
                        <h5>Full Stack Developer in slim, angular, webservices</h5>
                        <em>AGEMED, La Paz, BO</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2020 - 2021 (7 {{"months" | translate}})</p>
                            <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-primary">+
                                {{"Detail" | translate}}</button>
                        </div>
                        <p *ngIf="alternanceIsShown">
                            <strong>1. </strong>{{"agemed1" | translate}}<br>
                            <strong>2. </strong>{{"agemed2" | translate}}<br>
                            <strong>3. </strong>{{"agemed3" | translate}}<br>
                            <strong>4. </strong>{{"agemed4" | translate}}
                        </p>
                    </li>
                    <li>
                        <h5>Ecommerce Project Manager</h5>
                        <em>Hansa Ltda., La Paz, BO</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2017 - 2020 (3 {{"years" | translate}})</p>
                            <button (click)="detailOnClick('stage_detail')" type="button" class="btn btn-primary">+
                                {{"Detail" | translate}}</button>

                        </div>
                        <p *ngIf="stageIsShown">
                            <strong>1. </strong>{{"hansa1" | translate}}<br>
                            <strong>2. </strong>{{"hansa2" | translate}}<br>
                            <strong>3. </strong>{{"hansa3" | translate}}<br>
                            <strong>4. </strong>{{"hansa4" | translate}}<br>
                            <strong>5. </strong>{{"hansa5" | translate}}<br>
                            <strong>6. </strong>{{"hansa6" | translate}}<br>
                            <strong>7. </strong>{{"hansa7" | translate}}<br>
                            <strong>8. </strong>{{"hansa8" | translate}}<br>
                            <strong>9. </strong>{{"hansa9" | translate}}
                        </p>
                    </li>
                    <li>
                      <h5>Ecommerce Developer</h5>
                      <em>LatinAmericanMalls, La Paz, BO</em>
                      <div class="d-flex flex-row">
                          <p class="year p-2 d-flex justify-content-center">2016 - 2017 (1 {{"years" | translate}})</p>
                          <button (click)="detailOnClick('latinamerican_detail')" type="button" class="btn btn-primary">+
                              {{"Detail" | translate}}</button>

                      </div>
                      <p *ngIf="latinAmericanIsShown">
                          <strong>1. </strong>{{"latinamericanmall1" | translate}}<br>
                          <strong>2. </strong>{{"latinamericanmall2" | translate}}<br>
                          <strong>3. </strong>{{"latinamericanmall3" | translate}}<br>
                          <strong>4. </strong>{{"latinamericanmall4" | translate}}<br>
                          <strong>5. </strong>{{"latinamericanmall5" | translate}}<br>
                          <strong>6. </strong>{{"latinamericanmall6" | translate}}<br>
                          <strong>7. </strong>{{"latinamericanmall7" | translate}}<br>
                          <strong>8. </strong>{{"latinamericanmall8" | translate}}
                      </p>
                  </li>

                </ul>
            </div>
            <div class="col-lg-4 col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="container row">
                    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <h4><strong>{{"Languages" | translate}}</strong></h4>
                        <div class="noProgress langue">
                            <span class=""><img src="assets/images/spain-flag.png" width="20"
                                    alt="drapeau de la france"><strong> {{"Spanish" | translate}}</strong> <i class="val">
                                    {{"Native" | translate}}</i></span>
                        </div>

                        <div class="noProgress langue">
                            <span class=""><img src="assets/images/united-kingdom-flag.png" width="20"
                                    alt="drapeau du royaume uni"><strong> {{"English" | translate}}</strong> <i class="val">
                                    {{"Advanced intermediate" | translate}}</i></span>
                        </div>



                    </div>
                </div>
                <div class="container row">
                    <div class="mt-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <h4><strong>{{"Data of interest" | translate}}</strong></h4>
                        <div class="noProgress langue">
                            <span>
                                <fa-icon [icon]="volleyBallIcon"></fa-icon><strong> {{"Sport" | translate}}</strong> <i class="val"> Ping Pong</i>
                            </span>
                        </div>

                        <!--div class="noProgress langue">
                            <span>
                                <fa-icon [icon]="planeIcon"></fa-icon><strong> Voyages</strong> <i class="val">
                                    Belgique, Espagne, Pays-Bas, Suisse</i>
                            </span>
                        </div-->

                        <div class="noProgress langue">
                            <span>
                                <fa-icon [icon]="gameIcon"></fa-icon><strong> {{"Video game" | translate}} </strong> <i class="val">
                                    Axie Infinity, Dota 2, YugiOh, Clash of Clans, Picotanks</i>
                            </span>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
