<section id="about">
    <div class="container">
        <h2><strong>{{"About me" | translate }}</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets/images/profile.jpg" alt="profile pic" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="https://www.linkedin.com/in/juan-carlos-condori-cavi%C3%B1a-6a37b3163/" rel="tooltip" target="_blank"  title="Linkedin">
                        <i  class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/JuKaCo" rel="tooltip" target="_blank" title="GitHub" >
                        <i  class="fa fa-github fa-lg "></i></a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://us04web.zoom.us/j/5599406870?pwd=STFaYW1oMUVPcFRIZXN0TGtkSGpFdz09" rel="tooltip" target="_blank" title="Zoom">
                        <i class="fa fa-video-camera fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/jukarioka" rel="tooltip" target="_blank" title="Instagram">
                        <i class="fa fa-instagram fa-lg "></i>
                    </a>
                    <!--a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://www.youtube.com/channel/UCC1-ArSkku7vBjW14yfrBHA" rel="tooltip" target="_blank" title="YouTube">
                        <i class="fa fa-youtube-play fa-lg "></i>
                    </a-->
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://join.skype.com/invite/kYIbMnYHCCkt" rel="tooltip" target="_blank" title="Skype">
                        <i class="fa fa-skype fa-lg "></i>
                    </a>
                </div>


            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>{{"Ocupation" | translate}}</h3>
                <p class="font-italic">
                    {{"Bio" | translate}}
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> {{"Ubication" | translate}}</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> {{"Company" | translate}}</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:jucaco89@gmail.com">
                                        jucaco89@gmail.com</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> {{"Degree" | translate}}</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="home"></fa-icon><strong> {{"Work_mode" | translate}}</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    {{"Bio2" | translate}}
                </p>
            </div>
        </div>
    </div>
</section>
