.bg-lightgray,
.skillData-Wrapper {
  background-color: #ddd;
}

.skillData-Wrapper {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: block;
}

#skillgraph {
  padding: 1em;
}

.skill-percent {
  margin-top: 10px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.skillLabel {
  width: 100%;
  margin-top: 10px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18d7;
}

.skillData-Wrapper,
.label {
  width: 100%;
}

.skillData {
  height: 12px;
  display: block;
  background-color: #149ddd;
  border-radius: 10px;
  animation: grow 2s ease-out forwards;
}

@keyframes grow {
  from {
    width: 0;
  }
}

.bg-rust {
  background-color: #149ddd;
}

a {
  text-decoration: none;
}